nbproject/*
.idea/workspace.xml
.idea/vcs.xml
.idea/php.xml
.idea/modules.xml
.idea/formGenereitor2.0.iml
.idea/codeStyles/codeStyleConfig.xml
.idea/.gitignore

/vendor/
.idea/formGenereitor1.0.0.iml
.idea/.name
/includes/
manual.php
index.php
probando.php
ejemploBootstrap.php
notas.txt
